body {
    font-family: Arial, sans-serif;
    background: black;
    margin: 0;
    padding: 0;
  }
  
  .main-bg-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(70, 136, 145);
    text-align: center;
    width: 100%;
    max-width: 600px;
  }
  
  .subject {
    margin-bottom: 15px;
    text-align:center;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h1 {
    color: skyblue;
  }
  
  label {
    color: white;
    font-weight: bold;
  }